body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #1d0000, #20205b);
    font-family: 'Courier New', Courier, monospace;
}
.container{
    background:rgba(255,255,255,.3);
    box-shadow: 0 10px 10px rgba(0,0,0, .9);
    width: 90%;
    max-width: 450px;
    margin: 10px;
    color: #000;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 28px;
}
.heading{
    font-size: 28px;
}
input{
   height: 53px;
   width: 300px;
   background:rgba(255,255,255,.6);
   border-color:rgba(255,255,255,.4);
   font-size: 16px;
   padding: 0 42px;
   border-radius: 5px;
}
.meaning-container{
    display: none;
}

